@charset "utf-8";
.carousel-inner .carousel-item .d-block.mx-auto {
    background-color: #BC1518;
}
.row .col-xl-4 {
    margin-top: 50px;
    margin-left: -17px;
    margin-right: 16px;
}
.text-center {
    margin-top: 60px;
}
.food {
    margin-top: 39px;
    margin-left: 3px;
    margin-right: -290px;
}


.row .col-xl-4 .img-fluid {
    display: inherit;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin-left: 238px;
    min-height: 217px;
    min-width: 119px;
    margin-right: 330px;
}
footer {
    background-color: #FF7600;
    margin-left: -39px;
    margin-top: 12px;
}
.row.abc .col-xl-9 h6 {
    margin-top: 21px;
    text-align: right;
    margin-right: -10px;
}
.row.abc .col-xl-9 h6 {


}
.row.abc {
    background-color: #FF8C0C;
}


.row.abc .col-xl-9 h6 {
}


.row.abc .col-xl-6 {
    background-color: #FF8600;
}
.offset-xl-0.col-xl-11 .menu.ml-auto .text-lg-right {
    color: #000000;
}
.container .row .offset-xl-0.col-xl-11 {
    background-color: #FFF500;
}
.container .row .logo.col-sm-2.col-xl-1 {
    background-color: #FFF500;
}


.offset-xl-0.col-xl-11 .menu.ml-auto .text-lg-right {
}


.row.abc .col-xl-3 .img-fluid {
    background-color: #FF8C0C;
}
.row.abc .col-xl-3 {
    background-color: #FF8C0C;
}



.row {
    background-color: #FFFFFF;
}


.row .offset-xl-0.col-xl-11 .menu.ml-auto {
    text-align: right;
    background-color: #FFF500;
    color: #000000;



}
.container {
    background-color: #E0FF00;
}




.food .row .col-xl-2 {
    margin-left: -35px;
    margin-right: 18px;
}
.abc {
}
